USE [GD2C2021]
GO
/****** Object:  Table [gd_esquema].[Maestra]    Script Date: 13/10/2021 22:45:44 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [gd_esquema].[Maestra](
	[VIAJE_FECHA_INICIO] [datetime2](7) NULL,
	[VIAJE_FECHA_FIN] [datetime2](3) NULL,
	[VIAJE_CONSUMO_COMBUSTIBLE] [decimal](18, 2) NULL,
	[PAQUETE_CANTIDAD] [int] NULL,
	[PAQUETE_DESCRIPCION] [nvarchar](255) NULL,
	[PAQUETE_PESO_MAX] [decimal](18, 2) NULL,
	[PAQUETE_ALTO_MAX] [decimal](18, 2) NULL,
	[PAQUETE_ANCHO_MAX] [decimal](18, 2) NULL,
	[PAQUETE_LARGO_MAX] [decimal](18, 2) NULL,
	[PAQUETE_PRECIO] [decimal](18, 2) NULL,
	[RECORRIDO_CIUDAD_ORIGEN] [nvarchar](255) NULL,
	[RECORRIDO_CIUDAD_DESTINO] [nvarchar](255) NULL,
	[RECORRIDO_KM] [int] NULL,
	[RECORRIDO_PRECIO] [decimal](18, 2) NULL,
	[CHOFER_NOMBRE] [nvarchar](255) NULL,
	[CHOFER_APELLIDO] [nvarchar](255) NULL,
	[CHOFER_DNI] [decimal](18, 0) NULL,
	[CHOFER_DIRECCION] [nvarchar](255) NULL,
	[CHOFER_TELEFONO] [int] NULL,
	[CHOFER_MAIL] [nvarchar](255) NULL,
	[CHOFER_FECHA_NAC] [datetime2](3) NULL,
	[CHOFER_NRO_LEGAJO] [int] NULL,
	[CHOFER_COSTO_HORA] [int] NULL,
	[CAMION_PATENTE] [nvarchar](255) NULL,
	[CAMION_NRO_CHASIS] [nvarchar](255) NULL,
	[CAMION_NRO_MOTOR] [nvarchar](255) NULL,
	[CAMION_FECHA_ALTA] [datetime2](3) NULL,
	[MODELO_CAMION] [nvarchar](255) NULL,
	[MODELO_VELOCIDAD_MAX] [int] NULL,
	[MODELO_CAPACIDAD_TANQUE] [int] NULL,
	[MODELO_CAPACIDAD_CARGA] [int] NULL,
	[MARCA_CAMION_MARCA] [nvarchar](255) NULL,
	[ORDEN_TRABAJO_FECHA] [nvarchar](255) NULL,
	[ORDEN_TRABAJO_ESTADO] [nvarchar](255) NULL,
	[TAREA_FECHA_INICIO_PLANIFICADO] [datetime2](3) NULL,
	[TAREA_FECHA_INICIO] [datetime2](3) NULL,
	[TAREA_FECHA_FIN] [datetime2](3) NULL,
	[TAREA_CODIGO] [int] NULL,
	[TAREA_TIEMPO_ESTIMADO] [int] NULL,
	[TAREA_DESCRIPCION] [nvarchar](255) NULL,
	[TIPO_TAREA] [nvarchar](255) NULL,
	[MATERIAL_COD] [nvarchar](100) NULL,
	[MATERIAL_DESCRIPCION] [nvarchar](255) NULL,
	[MATERIAL_PRECIO] [decimal](18, 2) NULL,
	[MECANICO_NOMBRE] [nvarchar](255) NULL,
	[MECANICO_APELLIDO] [nvarchar](255) NULL,
	[MECANICO_DNI] [decimal](18, 0) NULL,
	[MECANICO_DIRECCION] [nvarchar](255) NULL,
	[MECANICO_TELEFONO] [int] NULL,
	[MECANICO_MAIL] [nvarchar](255) NULL,
	[MECANICO_FECHA_NAC] [datetime2](3) NULL,
	[MECANICO_NRO_LEGAJO] [int] NULL,
	[MECANICO_COSTO_HORA] [int] NULL,
	[TALLER_DIRECCION] [nvarchar](255) NULL,
	[TALLER_TELEFONO] [decimal](18, 0) NULL,
	[TALLER_MAIL] [nvarchar](255) NULL,
	[TALLER_NOMBRE] [nvarchar](255) NULL,
	[TALLER_CIUDAD] [nvarchar](255) NULL
) ON [PRIMARY]

GO
